{% extends 'layout/base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
{% endblock %}

{% block content %}

<h2 class="patient-title">My Profile</h2>

<div class="patient-profile-grid">

    <!-- BASIC INFO -->
    <div class="patient-profile-card">

        <h3 class="patient-section-title">Personal Information</h3>

        <div class="patient-profile-box">
            <span class="label">Full Name</span>
            <p>{{ patient.full_name }}</p> 
        </div>

        <div class="patient-profile-box">
            <span class="label">NRIC</span>
            <p>{{ patient.nric }}</p>
        </div>

        <div class="patient-profile-box">
            <span class="label">Email</span>
            <p>{{ patient.email }}</p> 
        </div>

        <div class="patient-profile-box">
            <span class="label">Phone</span>
            <p>{{ patient.phone }}</p> 
        </div>

        <div class="patient-profile-box">
            <span class="label">Date of Birth</span>
            <p>{{ patient.date_of_birth }}</p> 
        </div>

    </div>

</div>

{% endblock %}