{% extends 'layout/base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
{% endblock %}

{% block content %}

<h2 class="patient-title">My Profile</h2>

<div class="patient-profile-grid">

    <!-- BASIC INFO -->
    <div class="patient-profile-card">

        <h3 class="patient-section-title">Personal Information</h3>

        <div class="patient-profile-box">
            <span class="label">Full Name</span>
            <p>John</p> <!-- use patient.full_name later -->
        </div>

        <div class="patient-profile-box">
            <span class="label">Email</span>
            <p>john@gmail.com</p> <!-- use patient.email later -->
        </div>

        <div class="patient-profile-box">
            <span class="label">Phone</span>
            <p>83858385</p> <!-- use patient.phone later -->
        </div>

        <div class="patient-profile-box">
            <span class="label">Date of Birth</span>
            <p>12 Jan 1995</p> <!-- use patient.date_of_birth later -->
        </div>

    </div>

</div>

{% endblock %}