<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polyclinic OS</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Source+Sans+3:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

    {% if role == "doctor" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}">
    {% elif role == "nurse" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nurse.css') }}">
    {% endif %}

    {% block extra_css %}{% endblock %}
</head>

<body>

    {% include 'layout/navbar.html' %}

    <div class="layout">
        {% include 'layout/sidebar.html' %}

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

</body>
</html>