<nav class="navbar">

    <div class="logo">Polyclinic OS</div>

    <div class="nav-right">

        {% if role == "patient" %}
        <div class="notification-wrapper">

            <button id="notificationBtn" class="notification-btn">

                <i class="fa-solid fa-bell"></i>

                <span id="notificationCount" class="notification-count">0</span>

            </button>
            
            <div id="notificationDropdown" class="notification-dropdown">
                <div id="notificationList">
                    Loading...
                </div>
            </div>

        </div>
        {% endif %}

        <a href="/logout" class="logout">Logout</a>

    </div>

</nav>