{% extends "layout/base.html" %}

{% block content %}

<div class="doctor-page">

    <div class="doctor-title">Nurse Queue</div>

    <div class="doctor-table-card">
        <h3 style="margin-bottom:10px;">Upcoming Patient</h3>

        <table class="doctor-table">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% if next_patient %}
                <tr>
                    <td class="patient-name">{{ next_patient.full_name }}</td>
                    <td>{{ next_patient.priority_status }}</td>
                    <td>{{ next_patient.queue_status }}</td>
                    <td>
                        {% if next_patient.queue_status == 'pending' %}
                        <a class="btn-edit" href="/nurse/lab/{{ next_patient.lab_result_id }}">
                            Take Vitals
                        </a>
                        {% else %}
                        <span class="btn-delete">Done</span>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No patients in queue.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <br>

    <!-- FULL QUEUE -->
    <div class="doctor-table-card">

        <table class="doctor-table">

            <tbody>
                {% for q in queue %}
                <tr class="{% if q.queue_status|lower in ('completed','waiting','in_consultation') %}grey-row{% endif %}">

                    <td class="patient-name">{{ q.full_name }}</td>
                    <td>{{ q.priority_status }}</td>
                    <td>{{ q.queue_status }}</td>

                    <td>
                        {% if q.queue_status == 'pending' %}
                        <a class="btn-edit" href="/nurse/lab/{{ q.lab_result_id }}">
                            Take Vitals
                        </a>

                        {% elif q.queue_status in ('waiting', 'in_consultation') %}
                        <span class="btn-wait">
                            Waiting on Doctor
                        </span>

                        {% else %}
                        <span class="btn-delete">Done</span>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock %}